
html, body {
    box-sizing: border-box;
    padding: 0; margin: 0;
    min-height: 100vh;
    background-color: #F9F9FB;
}

a {
    text-decoration: none !important;
}

.c-row-hover:hover {
    background-color: #F7F9FD;
}

@import "./dashboard/dashboard";
@import "./workouts/workouts";
@import "./weeks/weeks";
@import "./drills/drills";
@import "./daily-challenges//daily-challenges/";
