
html, body {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

a {
    text-decoration: none !important;
}

@import "../components/panel/panel";
@import "../components/top-nav/top-nav";
@import "./dashboard/dashboard";
@import "./workouts/workouts";
@import "./weeks/weeks";
@import "./app/app";
@import "./drills/drills";
