
.v-home{
    .banner {
        article {
            background-image: url( "https://source.unsplash.com/7DCZgKyp8vw/1920x881" ); 
            background-position: center;
            background-size: cover;
        }
    }

    .faq {
        display: flex; flex-direction: row;

        svg {
            margin-right: 2em;
            font-size: 135%;
            color: get( special, $colours );
        }
    }
}